/* styles.css */

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    height: 60px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav li {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

span:hover{
    cursor: pointer;
    color: gold;
}

/* Hero Styles */
.hero {
    background-image: linear-gradient(to bottom, #8d219b, #302a30);
    background-size: 100px;
    background-position: center;
    height: 70vh;
    display: block;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    padding: 1px 0;
    text-align: center;
}

.hero h1 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 10px;
}

.hero img{
    width: 200px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 5px;
}

.hero p {
    font-size: larger;
    text-align: center;
}

.hero button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
button:hover{
    color: whitesmoke;
    background-color: #666;
}

/* Featured Styles */
.body{
    background-image: url(003.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
}

.featured {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.featured h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

.feature{
    margin: 0 auto 50px;
    width: 30%;
    text-align: left;
}

.feature img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin-bottom: 20px;
}

.featured h3 {
    margin-top: 10px;
}

.featured p {
    font-size: 16px;
    color: #666;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}
.highlight{
    color: gold;
}

a:hover{
    color: blue;
}